{% extends 'base.html' %}

{% block title %}Edit Tags{% endblock %}

{% block content %}
    <h1>Edit Tags</h1>

    <form method="POST">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}